#topnav{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}


#title{
    background-color: red;
    font-size: 40px;
    font-weight: bold;
    align-content: center;
    
}
#all-cards{
    display: flex;
    flex-wrap: wrap;
    
}

#main{
    background-image: url(https://dynaimage.cdn.cnn.com/cnn/c_fill,g_auto,w_1200,h_675,ar_16:9/https%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F211220145332-nba-tease.jpg); 
    background-size: cover;
    height: 100%;  
    width: 100%;
    color: whitesmoke;
}

#cards{
    background-color: black;
    height: 250px;
    width: 250px;
    padding: 10px;
    margin: 5px;
}
img{
    height: 50px;
    width: 100px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#name{
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-weight: bolder;
    border: solid white;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat;

}
p{


}
ul{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: wheat;
    height: 20px;

}